@charset "UTF-8";

*{
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
   background-color: rgba(53, 53, 148, 0.562);
    color: white;
    text-align: center;
    padding: 20px;
}
header h1 {
    margin-bottom: 10px;
}

main {
    padding: 20px;
    flex: 1;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
   
}

table  {
    border-collapse: collapse;
    width: 100%; 
    max-width: 400px;
    margin: auto;
    border: 2px solid black;
    
    }

   th, td {
    border: 2px solid black;
    text-align: center;
    padding: 8px;
    
}

nav {
    text-align: center;
    margin: 10px;
}

nav > a {
    background-color: lightblue;
    border: 2px solid black;
    margin: 8px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black ;
    color: white;
}

nav > a:hover {
    background-color: blue;
    color: white;
}

p {
    padding: 10px;
    margin: 10px;
}



