@charset "UTF-8";

body {
    background-color: rgba(102, 155, 199, 0.616);
}

.caixa {
    width: 300px;
    margin: 5px;
    padding: 8px 10px 10px;
    background-color: rgba(91, 146, 91, 0.568);
    border-radius: 4px;
}

