@charset "UTF-8";

body {
     background-image: linear-gradient(to right, rgb(109, 177, 109), rgb(117, 117, 77));
    font-style: italic;
    text-align: left;
}

header {
    background-image: linear-gradient(to right, rgba(255, 255, 0, 0.205) ,rgba(0, 0, 255, 0.575));
    text-align: center;
    padding: 20px;
    box-shadow: 1px 2px 2px black ;
   border-radius: 7px;
    
    
    
}
 header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    
    
}
nav {

    text-align: left;
}
 nav > a {
    
  padding: 13px;
}
   
   
   



main {
    background-color: rgba(255, 228, 196, 0.575);
    width: 800px;
    margin: auto;
    padding: 10px 20px 10px;
    box-shadow: 10px;
    border-radius: 5px;

    
}

div{
    padding: 13px;
   font-size: 20px;
}



footer {
    background-color: rgb(90, 209, 193);
    color: black;
    width: 800px;
    padding: 13px;
    font-size: 20px;
    margin: auto;
} 
