@charset "UTF-8";

html,body{
  height: 100%;
}
body {
     background-color: rgb(122, 122, 81) ;
     font-family: Arial, Helvetica, sans-serif;
     
     display: flex;
     flex-direction: column;

    
}

header {
    background-color: yellowgreen;
    text-align: center;
    padding: 13px;
    box-shadow: 2px 2px 6px black;
    border-radius: 7px;
    
}

nav {
 text-align: left;
    
}

    nav > a {
        padding: 13px;
        text-decoration: none;
        color: black;
         }
 
   
  nav > a:hover {
    color: red;
    transition: 0.3s;

   
  } 
   



main {
    background-color: antiquewhite;
    margin: auto;
    width: 800px;
    padding: 10px 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px black;
    flex: 1;

    
}

.caixa{
    font-size: 20px;
    padding: 13px;
  
 }


footer{
    background-color: greenyellow;
    color: black;
    text-align: center;
    padding: 13px;
    border-radius: 5px;
    
   
     }
